.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    object-fit: cover;
    gap: 24px;
    width: 450px;
    background-color: #9ab4c528;
    padding: 15px 20px;
    border-radius: 8px;
    position: relative;
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 1px solid #333;
}

.card-price {
    font-size: 24px;
    font-weight: 700;
}

.card-favorites {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.card-image {
   
}
.card-image img{ 
    width: 100%;
    height: 330px; 
    border-radius: 15px;
}
.swiper-slide{
    margin-bottom: 30px;
    width: 335px !important;
}

.swiper-pagination {
    bottom: -2px !important;
}

.card__footer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}