.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: invert(1);
    gap: 8px;
}

.logo a {
    font-size: 20px;
    font-weight: 700;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 16px;
}

.nav a.nav-link {
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50px;
  
    border: 1px solid #fff;
}

.nav a.nav-link:hover {
    color: #333;
    background-color: #fff;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.icons img {
    filter: invert(1);
    cursor: pointer;
}